<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>Welcome to Pintuku!</h1>
    <p>
      In order to verify your account, click this link:
      <a href="{{domain}}/user/verify/{{token}}"
        >{{domain}}/user/verify/{{token}}</a
      >
      and input this OTP code: <strong>{{otp}}</strong>.
    </p>
  </body>
</html>
